<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="finanzas.css")}}">
</head>
<body>
    <div class="navbar">
        <a href="#" onclick="mostrarMensaje()">Finanzas</a>
        <div class="dropdown">
            <button class="dropbtn">Menú ▼</button>
            <div class="dropdown-content">
                <a href="#presupuesto" onclick="mostrarSeccion('presupuesto')">Presupuesto</a>
                <a href="#transacciones" onclick="mostrarSeccion('transacciones')">Transacciones</a>
                <a href="#impuestos" onclick="mostrarSeccion('impuestos')">Impuestos</a>
                <a href="#movimientos" onclick="mostrarSeccion('movimientos')">Movimientos</a>
                <a href="#cierre-sesion" onclick="mostrarSeccion('cierre-sesion')">Cierre de Sesión</a>
            </div>
        </div>
    </div>
    
    <div id="mensaje-bienvenida" class="section">
        <h2>Bienvenido/a a Finanzas</h2>
        <p>¡Gracias por visitar nuestro sitio web de finanzas!</p>
    </div>
    
    <div class="section" id="presupuesto">
        <h2>Presupuesto</h2>
        <label for="presupuesto-input">Presupuesto</label><br>
        <input type="text" id="presupuesto-input"><br>
        <button id="definir-presupuesto-btn">Definir presupuesto</button><br>
        <label for="presupuesto-amount">Presupuesto $</label><br>
    </div>
    
    <div class="section" id="transacciones">
        <h2>Ingreso</h2>
        <label for="tipo-transaccion">Tipo</label><br>
        <select id="tipo-transaccion">
            <option value="ingreso">Ingreso</option>
            <option value="egreso">Egreso</option>
        </select>
        <br>
        <label for="tipo-pago">Tipo de pago</label>
        <br>
        <select id="tipo-pago">
            <option value="efectivo">Efectivo</option>
            <option value="debito">Debito</option>
        </select>
        <br>
        <label for="descripcion">Descripcion</label>
        <br>
        <input type="text" id="descripcion">
        <br>
        <label for="monto">Monto</label>
        <br>
        <input type="text" id="monto">
        <br>
        <button id="anadir-transaccion-btn">Añadir transaccion</button>
    </div>
    
    <div class="section" id="impuestos">
        <h2>Impuestos</h2><br>
        <label for="impuestos-label">Impuestos</label><br>
        <table>
            <!-- Contenido de la tabla de impuestos -->
        </table><br>
        <button id="consultar-impuestos-btn">Consultar impuestos</button><br>
        <button id="impuestos-totales-btn">Impuestos totales</button>
    </div>
    
    <div class="section" id="movimientos">
        <h2>Movimientos</h2><br>
        <label for="movimientos-label">Movimientos</label><br>
        <table>
            <!-- Contenido de la tabla de movimientos -->
        </table><br>
        <button id="consultar-movimientos-btn">Consultar</button>
    </div>    
    
    <div class="section" id="cierre-sesion">
        <h2>Cierre de Sesión</h2>
        <form action="inicio.html">
            <input type="submit" value="Cierre de Sesion">
        </form>
    </div>
    
    <script>
        // Ocultar todas las secciones y mostrar el mensaje de bienvenida al cargar la página
        window.onload = function() {
            ocultarSecciones();
            mostrarMensaje();
        }
        
        // Función para ocultar todas las secciones
        function ocultarSecciones() {
            var secciones = document.getElementsByClassName('section');
            for (var i = 0; i < secciones.length; i++) {
                secciones[i].style.display = 'none';
            }
        }
        
        // Función para mostrar el mensaje de bienvenida y ocultar las secciones
        function mostrarMensaje() {
            ocultarSecciones();
            document.getElementById('mensaje-bienvenida').style.display = 'block';
        }
        
        // Función para mostrar una sección y ocultar el mensaje de bienvenida
        function mostrarSeccion(seccion) {
            ocultarSecciones();
            document.getElementById(seccion).style.display = 'block';
            document.getElementById('mensaje-bienvenida').style.display = 'none';
        }
    </script>
</body>
</html>
